@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SportMapDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <div>
            <MyViewItem Label="Title" Value="@movie.Title" />
            <MyViewItem Label="Release Date" Value="@movie.ReleaseDate.ToString()" />
            <MyViewItem Label="Genre" Value="@movie.Genre" />
            <MyViewItem Label="Price" Value="@movie.Price.ToString()" />
            <MyViewItem Label="Rating" Value="@movie.Rating" />
        </div>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movie = await context.Movies.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NavigateTo("movies");
        }
    }
}